<!DOCTYPE html>
<html>
<head>
<style>
p {
  font-family: "Gill Sans", sans-serif;;
  font-size: 20px;
  margin : 0px;
}
</style>
</head>
<body>
	<div>
    	<p> 
        	Hello Team,
        </p>
        <br/>
        <p> 
        	A prospect with ID <%= id%> and name <%= name%> has reached the <%= TestLocation%> (location) for a ride test. Please follow up. 
        </p>
        <br/>
        <p>
        	Regards,
        </p>
        <p>
        	MAX Product team
        </p>
    </div>
</body>
</html>