<!DOCTYPE html>
<html>
<head>
<style>
p {
  font-family: "Gill Sans", sans-serif;;
  font-size: 20px;
  margin : 0px;
}
</style>
</head>
<body>
	<div>
        <p> 
        	Hello, <%= firstname%> <%= lastname%> has passed the verification process and indicated the need for a driving license.
        </p>
        <br/>
        <p>
            Prospect Phone:<%= phone%>. Kindly follow up.
        </p>
        <p>
        	MAX Product team
        </p>
    </div>
</body>
</html> 